flows.json
[{"id":"a92a900.fbd617","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"472868b6.229578","type":"ui_template","z":"a92a900.fbd617","group":"68de66ef.18c128","name":"","order":1,"width":"6","height":"7","format":"<h2>THONG TIN PROJECT</h2>\n<p><b>Group: 9</b></p>\n<h3>Name: Smart doorbell system</h3>\n<p>Members:\n    <ul>\n        <li>1753008 <b>Pham Huynh Nhat</b></li>\n        <li>1753065 <b>Nguyen Nhat Khoa</b></li>\n        <li>1753067 <b>Nguyen Trung Kien</b></li>\n    </ul>\n</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":240,"wires":[[]]},{"id":"c9e9674c.a3e2c8","type":"ui_template","z":"a92a900.fbd617","group":"68de66ef.18c128","name":"","order":1,"width":0,"height":0,"format":"<p>Thong tin thiet bi</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":300,"wires":[[]]},{"id":"69abb89d.557868","type":"mqtt out","z":"a92a900.fbd617","name":"","topic":"toogle wifi","qos":"1","retain":"false","broker":"632857e0.874038","x":540,"y":260,"wires":[]},{"id":"127f5320.3cd70d","type":"mqtt in","z":"a92a900.fbd617","name":"","topic":"send_email","qos":"2","datatype":"auto","broker":"632857e0.874038","x":350,"y":120,"wires":[["377bd24f.7d3fce"]]},{"id":"b2f3e8cd.da5898","type":"ui_button","z":"a92a900.fbd617","name":"CAM ON","group":"ae53201d.c291e","order":1,"width":0,"height":0,"passthru":false,"label":"CAM ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":340,"y":240,"wires":[["69abb89d.557868"]]},{"id":"b7134bee.559cf8","type":"ui_button","z":"a92a900.fbd617","name":"CAM OFF","group":"ae53201d.c291e","order":2,"width":0,"height":0,"passthru":false,"label":"CAM OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":340,"y":300,"wires":[["69abb89d.557868"]]},{"id":"c93c0481.fe31a8","type":"e-mail","z":"a92a900.fbd617","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"owner","x":750,"y":120,"wires":[]},{"id":"377bd24f.7d3fce","type":"function","z":"a92a900.fbd617","name":"","func":"var payload = msg.payload;\nmsg.to = \"owner\";\nmsg.from = \"\";\nvar date = new Date();\nvar mess = \"\";\nif(payload == 1){\n    msg.topic = \"ALERT!\";\n    mess = \"Unknown people trying to open the door\";\n}\nmsg.payload = \"Time: \" + date + \"\\n\" + mess + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":120,"wires":[["c93c0481.fe31a8"]]},{"id":"68de66ef.18c128","type":"ui_group","z":"","name":"Thong tin Project","tab":"6e715904.7426d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"632857e0.874038","type":"mqtt-broker","z":"","name":"","broker":"127.16.2.71","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ae53201d.c291e","type":"ui_group","z":"","name":"control","tab":"7ae09dd1.2e2284","order":1,"disp":false,"width":"6","collapse":false},{"id":"6e715904.7426d8","type":"ui_tab","z":"","name":"Information","icon":"dashboard","disabled":false,"hidden":false},{"id":"7ae09dd1.2e2284","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]